/* header section style start  */
.header {
    position: relative;
    margin-bottom: 80px;
}

.banner {
    width: 500px;
    position: absolute;
    top: 120px;
    right: 150px;
    text-align: right;

}

.header-title {
    font-size: 50px;
    font-weight: bolder;
    font-family: Verdana, sans-serif;

}

.header-description {
    font-size: 18px;
    font-family: Verdana, sans-serif;
    color: #2726268a;
}

.header-btn {
    color: white;
    font-size: 20px;
    border: 0;
    padding: 20px;
    background-color: #F15B22;
    border-radius: 10px;
}

/* header section style end  */
.about {
    margin: 50px 100px;
}

.about>div {
    display: flex;
    gap: 50px;
    align-items: center;

}

.about h2 {
    padding-top: 80px;
    font-size: 45px;
    font-family: Verdana, sans-serif;
}

.icon {
    color: aquamarine;
    padding-right: 5px;
}
.about p{
    font-size: 18px;
    color: #27252593;
}